#footer {
    background-color: $footerBg;
    padding: 26px 0;
}
.footer-description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &>p {
        font-size: 16px;
    }
    
}
.footer-link {
    color: $secondaryColor;
    text-decoration: underline;
}