#header {
    position: relative;
    z-index: 2;
    margin-bottom: 60px;
    padding-top: 30px;
}
#logo {
    position: relative;
    z-index: 4;
}
.header-menu {
    display: flex;
    justify-content: flex-end;
    &_pages {
        &>div>a {
            margin: 0 10px;
            padding: 6px 15px;
            display: block;
            position: relative;
            text-transform: uppercase;
            font-family: $mainFontFamily;
            font-size: $menuHeaderFontSize;
            &::after {
                content: '';
                position: absolute;
                height: 2px;
                width: 0;
                background-color: #ffffff;
                bottom: 0;
                left: 0;
                transition: 0.3s;
            }
            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
        [page='active'] {
            &::after {
                width: 100%;
            }
        }
    }
    &_discord--link {
        margin: 0 0 0 25px;
        white-space: nowrap;
        color: #ffffff;
        &>a {
            display: flex;
            align-items: center;
            padding: 6px 15px;
            font-family: $titleFontFamily;
            font-size: 16px;
            background: rgba($color: $whiteColor, $alpha: 0.1);
            cursor: pointer;
            position: relative;
            z-index: 10;
            &>span {
                margin-left: 10px;
                z-index: 1;
            }
            &>svg {
                z-index: 1;
            }
            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 100%;
                top: 0;
                left: 0;
                background: $discordColor;
                z-index: 0;
                transition: 0.3s;
            }
            &:hover {
                &::after {
                    width: 100%;
                }
            }
            
        }
    }
}
.burger-icon {
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 5;
    height: 16px;
    width: fit-content;
    cursor: pointer;
    span {
        position: absolute;
        display: block;
        left: 0;
        top: 5px;
        width: 18px;
        height: 2px;
        background-color: #ffffff;
        transition: transform .5s, opacity .5s;
    }
    span:nth-child(1) {
        transform: translateY(-5px);
    }
    span:nth-child(3) {
        transform: translateY(5px);
    }
}
#header.open {
    .burger-icon {
        &>span:nth-child(1) {
            transform: translateY(0) rotate(45deg);
        }
        &>span:nth-child(2) {
            opacity: 0;
        }
        &>span:nth-child(3) {
            transform: translateY(0) rotate(-45deg);
        }
    }
    
}