@media screen and (max-width: 1024px) {
    #demo-description {
        padding: 60px 20px;
    }

}

@media screen and (max-width: 992px) {
    #logo {
        img {
            max-width: 150px;
        }
    }
    .header-menu {
        &_pages>div>a {
            margin: 0 5px 0 5px;
            padding: 6px 10px;
        }
        &_discord--link {
            margin: 0 0 0 15px;
        }
    }
}

@media screen and (max-width: 768px) {
    #header {
        padding-top: 20px;
        margin-bottom: 10px;
    }
    #logo {
        text-align: center;
    }
    #burger-logo {
        display: block;
        width: fit-content;
        margin: 20px 0;
        img {
            max-width: 150px;
        }
    }
    #welcome {
        min-height: 670px;
    }
    .header-menu {
        position: fixed;
        background-color: $mobileMenuBg;
        width: var(--mobile-menu-size);
        height: 100vh;
        z-index: 3;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: var(--mobile-margin-size);
        transition: transform 0.5s;
        padding-bottom: 15%;
        &_pages {
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 150px;
            &>div {
                margin: 25px 0;
                &>a {
                    width: fit-content;
                    padding: 15px 10px;
                    font-size: 20px;
                }
            }
        }
        &_discord--link {
            a {
                padding: 10px 25px 10px 20px;
                font-size: 18px;
            }
            
        }
    }
    .burger-icon {
        display: block;
    }
    .welcome-description {
        &--discord {
            .join-to-discord {
                width: 100%;
                justify-content: center;
            }
        }
        &--social h5 {
            text-align: center;
        }
        
    }
    .box--social_links {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 87%;
        flex-wrap: wrap;
        margin: 0 auto;
        &>a {
            display: block;
            margin: 0 5px;
        }
    }
    #header.open {
        .header-menu {
            transform: translateX(100%);
        }
    }
    #demo-description {
        padding: 30px 15px;
    }
    .error-number {
        font-size: 160px;
    }

}

@media screen and (max-width: 576px) {
    :root {
        --main-font-size: 16px;
        --title-font-size-h1: 36px;
        --title-font-size-h2: 24px;
        --mobile-menu-size: 100vw;
        --mobile-margin-size: -100vw;
    }

    #welcome {
        min-height: 640px;
    }
    .join-to-discord {
        font-size: 18px;
    }
    .box--social_links > a {
        margin: 0;
    }
    .footer-description {
        p {
            font-size: 14px;
        }
    }
    .changelog {
        &-description {
            padding: 30px;
            &--post {
                flex-direction: column;
                p {
                    padding-right: 0;
                }
                &>div {
                    margin-top: 20px;
                    width: 100%;
                    .join-to-discord {
                        width: 100%;
                        justify-content: center;
                    }
                }
            }
        }

        &-box {
            margin-bottom: 40px;
            margin-top: -85px;
        }
    }
    .contact-us {
        padding: 20px 10px 65px 10px;
    }
    .error-number {
        font-size: 120px;
    }
}
