$mainFontFamily: 'Verdana', sans-serif !default;
$mainFontSize: 18px !default;

$titleFontFamily: 'Oswald', sans-serif;
$titleFontSize: 48px !default;


$menuHeaderFontSize: 14px;

// colors
$whiteColor: #ffffff;
$discordColor: #5662F6;

