$mainFontFamily: 'Verdana', sans-serif !default;
$mainFontSize: 18px !default;

$titleFontFamily: 'Oswald', sans-serif;
$titleFontSizeH1: 48px !default;
$titleFontSizeH2: 36px !default;


$menuHeaderFontSize: 14px;

// colors
$whiteColor: #ffffff;
$discordColor: #5662F6;
$bodyDarkTheme: #313131;
$secondaryColor: #EBD593;
$footerBg: #171717;
$mobileMenuBg: #202020;

