#welcome {
    min-height: 780px;
    height: 100%;
    background-image: url('../resources/img/claymore.png');
    background-size: auto 100%;
    position: relative;
    padding-bottom: 15px;
}
.welcome--shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 75%, rgba(0, 0, 0, 0.9) 100%);
}
.join-to-discord {
    font-family: $titleFontFamily;
    font-size: 24px;
    display: flex;
    align-items: center;
    background-color: $discordColor;
    width: fit-content;
    padding: 10px 25px 10px 20px;
    position: relative;
    transition: all .5s;
    &>span {
        margin-left: 10px;
    }
    &:hover {
        background-color: rgba($color: $whiteColor, $alpha: 0.1);
    }
}

.box--social_links {
    a {
        margin-right: 5px;
        &>svg {
            transition: 0.3s;
        }
        &:hover {
            &>svg {
                background-color: rgba($color: #000, $alpha: 0.2);
            }
        }
    }
}
.welcome-description {
    position: relative;
    h1 {
        font-family: $titleFontFamily;
    }
    &--text {
        p {
            font-family: $mainFontFamily;
            font-size: var(--main-font-size);
            line-height: 1.5;
            margin-bottom: 30px;
        }
    }
    &--discord {
        margin-bottom: 40px;        
    }
    &--social {
        h5 {
            font-family: $mainFontFamily;
            font-size: var(--main-font-size);
            font-weight: bold;
            color: $whiteColor;
        }
    }
}
#demo-description {
    padding: 80px 0;
    h2 {
        color: $secondaryColor;
    }
}
.demo-description--box {
    p {
        position: relative;
        padding: 10px 0 10px 40px;
        &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 4px;
            background-color: $secondaryColor;
            left: 0px;
            top: 21px;
        }
    }
}